/* Auth.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
  }
  
  #modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: inherit;
    border: 1px solid rgba(0, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.9);
    padding: 50px;
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 1000;
  }
  
  #modal h2 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
    color: #00ffff;
  }
  
  #modal input, #modal textarea {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #00ffff;
    background-color: inherit;
    border-radius: 4px;
  }
  
  #modal button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #00ffff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #modal button:hover {
    background-color: #ff00ff;
  }
  
  #modal a {
    color: #007bff;
    text-decoration: none;
  }
  
  #modal a:hover {
    text-decoration: underline;
  }
  
  #modal .view {
    display: none; /* Hide all views by default */
  }
  
  #modal .view.active {
    display: block; /* Show the active view */
  }
  
  #report-form {
    display: none;
  }
  
  #report-form.active {
    display: block;
  }
  
  #report-form textarea {
    height: 100px;
    resize: vertical;
  }
  
  #modal .switch-view{
    text-align: center;
    margin-top: 20px;
  }
  
  #modal .switch-view{
    color:#ff00ff;
  }

  #modal .go-back {
    text-align: center;
    margin-top: 20px;
  }
  
  #modal .go-back a {
    color: #007bff;
  }
  
  .warning-icon {
    color: red;
  }
  
  .warning-text {
    color: red;
  }
  